.parent{
	-fx-background-color: #fff;
}

.sidebar{
	-fx-background-color: #202123;
}

.buttons{
	-fx-background-color : transparent;
}

.buttons:hover{
	-fx-background-color : #0a4c60;
	cursor: pointer;
}

.userBox{
	-fx-background-color : #fff;
}

.userBox:hover{
	-fx-background-color : #cacace;
}



.box{
	-fx-border-color : #0fafe0;
	-fx-border-width: 2px 0px 0px 0px;
}

.message{
	-fx-border-color : #0fafe0;
	-fx-border-width: 0px 0px 2px 0px;
}

.top-bottom-line{
	-fx-border-color : #0fafe0;
	-fx-border-width: 0px 2px 2px 0px;
}

.full-border-grey{
	-fx-border-color : #7c8184;
	-fx-border-width: 2px 2px 2px 2px;
}

.full-border-blue{
	-fx-border-color : #0fafe0;
	-fx-border-width: 2px 2px 2px 2px;
}

.left-border-blue{
	-fx-border-color : #0fafe0;
	-fx-border-width: 0px 0px 0px 2px;
}

.bottom-border-blue{
	-fx-border-color : #0fafe0;
	-fx-border-width: 0px 0px 2px 0px;
}

.imageview{
	-fx-image: url("./res/logo.png");
}

.top-border-blue{
	-fx-border-color : #0fafe0;
	-fx-border-width: 2px 0px 0px 0px;
}

.top-border-grey{
	-fx-border-color : #7c8184;
	-fx-border-width: 2px 0px 0px 0px;
}

.left-top-border-blue{
	-fx-border-color : #0fafe0;
	-fx-border-width: 2px 0px 0px 2px;
}

.bottom-border-grey{
	-fx-border-color : #7c8184;
	-fx-border-width: 0px 0px 2px 0px;
}

.left-line{
	-fx-border-color : #0fafe0;
	-fx-border-width: 0px 2px 0px 0px;
}

.vboxUsers{
	-fx-border-color : #0fafe0;
	-fx-border-width: 2px 0px 0px 2px;
}

.roundedImage{
	-fx-border-radius: 50%;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
   -fx-focus-color: transparent;
   -fx-faint-focus-color: transparent;
}

.scroll-pane .scroll-bar:vertical
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-unit-increment: 50;
	-fx-block-increment: 50;

}

.scroll-pane .scroll-bar:vertical .track
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-pane .scroll-bar:horizontal .decrement-button
{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;

}

.scroll-pane .scroll-bar:vertical .decrement-button
{

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow
{
    -fx-padding: -2;


}

.scroll-pane .scroll-bar:vertical .thumb
{
    -fx-background-color: #0fafe0;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0;
    -fx-padding: 20 20 20 20;
}

.text-area {
    -fx-border-color : #7C8184;
	-fx-border-width: 1px 1px 1px 1px;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding-left: 1px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.round-lbl{
	-fx-background-color: #c62b2b;
	-fx-background-radius:100%;
}


.textfield {
    -fx-border-color : #0fafe0;
	-fx-border-width: 2px 2px 2px 2px;
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}

.blueBorder{
	-fx-border-color : #0fafe0;
	-fx-border-width: 2px 2px 2px 2px;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.round-box{
	-fx-border-radius:100%;
	-fx-border-width:5px;
}

.chat-messages{
	-fx-background-radius:5px;
}

/**
.progress-indicator .indicator {
    -fx-background-color: transparent ;
}

.progress-indicator .spinner {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
*/

.labelLvl{
	-fx-background-color:  #5188bc;
	-fx-background-radius:  10%;
}

.jfx-progress-bar > .track{
    -fx-background-color: #2f4166;
}

.jfx-progress-bar > .bar,
.jfx-progress-bar:indeterminate > .bar{
    -fx-background-color: #3191e0;
    -fx-padding: 1.5;
}

.jfx-progress-bar > .secondary-bar,
.jfx-progress-bar:indeterminate > .secondary-bar{
    -fx-background-color: #CDE1B7;
}

.jfx-progress-bar > .track,
.jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.card-01{
	-fx-background-color:rgba(0,162,221,0.2);
}

.linear-grad{
   -fx-background-color: linear-gradient(from 60% 60% to 100% 100%, #fff, #0fafe0);
}

.nature1{
	-fx-background-image: url("res/nature.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 980 645;
    -fx-background-position: center center;
}

.tab{
	-fx-pref-width:300;
	-fx-background-color: #202123;
}
.tab-header-background{
	-fx-background-color: #202123;
}
.tab-header-area .tab-selected-line {
    -fx-background-color: #0fafe0;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: #0fafe0;
}